os:
- Windows Server 2012 R2
environment:
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    PYTHON: "C:\\Miniconda36-x64"
    PYTHON_VERSION: "3.6"
    PYTHON_ARCH: "64"

install:
  # If there is a newer build queued for the same PR, cancel this one.
  # The AppVeyor 'rollout builds' option is supposed to serve the same
  # purpose but it is problematic because it tends to cancel builds pushed
  # directly to master instead of just PR builds (or the converse).
  # credits: JuliaLang developers.
  - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_BUILD_NUMBER -ne ((Invoke-RestMethod `
        https://ci.appveyor.com/api/projects/$env:APPVEYOR_ACCOUNT_NAME/$env:APPVEYOR_PROJECT_SLUG/history?recordsNumber=50).builds | `
        Where-Object pullRequestId -eq $env:APPVEYOR_PULL_REQUEST_NUMBER)[0].buildNumber) { `
          throw "There are newer queued builds for this pull request, failing early." }

  # Python(set before conda command call)
  - "SET PATH=%PYTHON%;%PYTHON%\\Scripts;%PYTHON%\\Library\\bin;%PYTHON%\\Lib\\site-packages;%PATH%;"
  - python -m pip install --upgrade pip
  - pip install -r requirements.txt

build_script:

  - python setup.py build_ext -i
  - python setup.py install
  - python setup.py bdist_wheel
  - python -m pip list
  
test_script:
  - pip install pytest
  - pytest
after_test:
  # If tests are successful, create binary packages for the project.
  - python setup.py bdist_wheel"
  - python setup.py bdist_wininst"
  - python setup.py bdist_msi"
  - ps: "ls dist"
  
artifacts:
  # Archive the generated packages in the ci.appveyor.com build report.
- path: dist\*