*.pyc
*~
.cache
*.py~
*.pyc
*.pxd~
*.pyx~
*.c~
*.h~
.gitignore~
DEODR/differentiablerenderer_cython.cpp
DEODR/differentiablerenderer_cython.html
iterations/
*.pyd
examples/images
Matlab/matlabAutoDiff
build/temp.win-amd64-3.6/Release/DEODR/differentiablerenderer_cython.cp36-win_amd64.exp
build/temp.win-amd64-3.6/Release/DEODR/differentiablerenderer_cython.cp36-win_amd64.lib
build/temp.win-amd64-3.6/Release/DEODR/differentiablerenderer_cython.obj
