-r requirements_build.txt
scikit-learn
matplotlib==3.3.4
imageio==2.9.0
trimesh==3.9.32
opencv-python==4.5.2.52
torch==1.10.2 -f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.9.1  -f https://download.pytorch.org/whl/torch_stable.html
tensorflow==2.6.0
moderngl==5.6.4
pyrr==0.10.3
pyrender==0.1.45
pytest-xvfb==2.0.0
flake8==3.8.4
flake8-quotes==3.2.0
radon==4.5.2


