numpy==1.19.2
scipy==1.5.2
matplotlib==3.3.2
Cython==0.29.21
imageio==2.9.0
trimesh==3.8.11
opencv-python==4.4.0.44
torch==1.6.0
tensorflow==2.3.1
moderngl==5.6.2
pyrr==0.10.3
pyrender==0.1.43
pytest-xvfb==2.0.0
flake8==3.8.4
flake8-quotes==3.2.0

