numpy
scipy
Cython
scikit-learn
matplotlib
imageio
trimesh
opencv-python
torch -f https://download.pytorch.org/whl/cu117
torchvision  -f https://download.pytorch.org/whl/cu117
tensorflow
moderngl
pyrr
pyrender
pytest-xvfb

# devloppement
radon
pip-tools
mypy
black
flake8


